{{#if isLoaded}}
  <p><b>Title:</b>{{title}}</p>
  <p><b>Body:</b>{{body}}</p>
  <p><b>Published:</b>{{published}}</p>
{{else}}
  <p>Loading</p>
{{/if}}

<a {{action editPost content href=true}}>Edit</a> |
<a {{action goBack href=true}}>Back</a> |
{{view App.DeletePostView postBinding="content"}}
<p>
<a {{action showComments href=true}}>Comments ({{comments.length}})</a> |
<a {{action showTrackbacks href=true}}>Trackbacks ({{trackbacks.length}})</a>
</p>
{{outlet}}
