{{#if controller.isLoaded}}
  <p><b>Title:</b>{{title}}</p>
  <p><b>Body:</b>{{body}}</p>
  <p><b>Published:</b>{{published}}</p>
{{else}}
  <p>Loading</p>
{{/if}}

<a {{action editPost context="controller.content" href=true}}>Edit</a> |
<a {{action goBack href=true}}>Back</a> |
{{view App.DeletePostView postBinding="controller.content"}}
